/* Porto.module.css */

/* Default styles for larger screens */
.sliderContainer {
    overflow: hidden;
  }
  
  .sliderContent {
    transition: transform 0.5s ease; /* Add a smooth transition effect */
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .sliderContent {
      display: flex;
      flex-wrap: nowrap;
      transform: translateX(-100%); /* Initially shift the content to the left */
    }
  
    .sliderContent > div {
      flex: 0 0 auto; /* Ensure each content item takes up the full width */
    }
  }
  